<!DOCTYPE html>
<html>
<head>
    <title>Добавление материала</title>
    <link rel="stylesheet" type="text/css" href="../css/hp-style.css">
</head>
<body>

<div class="container">
    <h1 class="page-title">Добавление нового материала</h1>
    <form method="POST" action="add_resource/new_resource" name="add_resource">
        <div class="new-param-line">
            <p class="param-title">Название</p>
            <input type="text" name="resource_name" class="new-input"/>
        </div>
        <div class="new-param-line">
            <p class="param-title">Место добычи</p>
            <select class="new-input" name="place">
                <option disabled selected></option>
                <option value="Море Восточное">Море Восточное</option>
                <option value="Море Влажности">Море Влажности</option>
                <option value="Океан Бурь">Океан Бурь</option>
            </select>
        </div>
        <div class="new-param-line">
            <p class="param-title">Количество (кг)</p>
            <input type="text" name="amount_available" class="new-input"/>
        </div>
        <input type="submit" value="Добавить" name="resource_name" class="home-button"/>
    </form>

</div>
</body>
</html>
