<!DOCTYPE html>
<html>
<head>
    <title>{{.ResourceName}}</title>
    <link rel="stylesheet" type="text/css" href="../css/hp-style.css"> <!-- Используем стили из hp-style.css -->
</head>
<body class="resource-body">
<div class="resource-container">
    <div class="resource-details">
        <img src="{{ .Image }}" alt="{{.ResourceName}}" class="resource-image">
        <h1 class="resource-title">{{.ResourceName}}</h1>
        {{ if eq .IsAvailable true }}
        <p class="resource-info">Материал еще есть</p>
        {{ else }}
        <p class="resource-info">Материал закончился</p>
        {{ end }}
        <p class="resource-info">Место добычи: {{.Place}}</p>

        {{ range $index, $month := .Months }}
            <p class="resource-info">За {{ index $.Months $index }} добыто {{ index $.MonthlyProds $index }}</p>
        {{ end }}

        <form method="POST" action="change_res_status/{{ .ResourceName }}" name="delete_resource">
            <input type="hidden" name="card_title" id="card_title" value="{{ .ResourceName }}">
            {{ if eq .IsAvailable true }}
            <input type="submit" class="delete-button" value="Удалить">
            {{ else }}
            <input type="submit" class="recover-button" value="Восстановить">
            {{ end }}
        </form>
        <a href="/home" class="home-link">
            <span class="home-button">На главную страницу</span>
        </a>
    </div>
</div>
</body>
</html>
